#posting1{
  width: 465px;
  height: 385px;
  margin: auto;
  border: 3px solid var(--postcolor);
    background: #eee;
  background-image: url('https://i.ibb.co/f063gLW/grungewall50-1.png');
  overflow: hidden;
}
.postingimage{
  width: 200px;
  height: 400px;
  overflow: hidden;
  float: left;
  border-right: 3px solid var(--postcolor); 
}
.posting1body{
  width: 250px;
  height: 370px;
  overflow: auto;
  margin-left: 210px;
  text-align: justify;
    font-family: 'Roboto';
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.posting1body b {
  color: var(--postcolor);
  font-size: 15px;
  font-weight: 900;
}
.postingbody1 a{
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
}
